* {
  margin: 0;
  padding: 0;
}

.bg {
  background-color: #2F4F30;
}

.carta {
  position: relative;
  width: 10rem;
  margin-left: -75px;
  left: 5rem;
}

#jugador-cartas,
#computadora-cartas {
  height: 16rem;
}

button#btnPedir,
button#btnDetener {
  width: 3rem;
  height: 3rem;
  border-radius: 50% !important;
}

#div_botones {
  position: fixed;
  bottom: 3vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  gap: 1vw;
}